@media only screen and (max-width: 915px) {
  @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .display {
    display: none;
  }
  .language_container {
    /* border: 3px solid; */
    width: 90%;
    height: 60px;
    background-color: rgb(33, 98, 202);
    padding: 18px;
    border-radius: 10px;
    margin-top: 10px;
    margin-left: 18px;
    
  }
  .heading {
    font-family: "Poppins", sans-serif;
    color: white;
    font-weight: 400;
    font-size: 22px;
  }
  .box {
    display: flex;
    border: 3px solid #dedede;
    width: 90%;
    height: 70px;
    margin-top: 20px;
    margin-left: 20px;
    border-radius: 10px;
  }
  /* radio button */
  .custom-radio {
    width: 25px;
    height: 25px;
    margin-top: 20px;
    margin-left: 20px;
    border-radius: 50%;
  }
  .lan_name {
    margin-left: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: bolder;
    margin-top: 10px;
    font-size: 14px;
  }
  .lan_en {
    margin-top: 5px;
    font-size: 16px;
    font-weight: 400;
  }
  .con {
    position: absolute;
    border: 5px solid #c2c2c2;
    width: 90%;
    height: 55px;
    background-color: #c2c2c2;
    margin-left: 20px;
    border-radius: 10px;
    bottom: 10px;
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    color: white;
  }

}
