*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.section_1{
    position: relative;
    /* border: 5px solid; */
    width: 100%;
    height: 85vh;
    
}
video{
    /* border: 4px solid; */
    height: 100%;
    width: 100%;
    background-color: #6aaaf2;
}